
body{
    background:white url("../img/background.jpg") repeat ;
    font-family: 'Open Sans', sans-serif;
}
h5{
    color: rgb(46, 119, 255);
    font-weight: bold;
}
ul{
    list-style-type: square;
    padding-left:19px; 
}
.change-size-and-color{
    font-size: 1.2em;
    color: rgb(46, 119, 255);
}
.special{
    margin-left: 10px;
}
th,tr,td{
    text-align: center;
}
.fas,.fab{
    color: rgb(46, 119, 255);
}
.title{
    color: rgb(63, 63, 128);
    padding: 1.3em 1.3em 1em ;
    text-transform: uppercase;
    color: yellow;
}
 section h5{
    font-size: 1.2em;
}

hr{
    border-top: 1px solid rgb(46, 119, 255) ;
}

 th,td{
    border: 2px solid rgb(3, 2, 56) !important; 
}


/*
****************
MEDIA QUERIES  *
****************
*/

@media (max-width: 800px){
    h5{
        color: tomato;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}